body {
  background: #282C34;
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
}

.welcome {
  a {
    color: #fff;
  }

  font-size: 24px;
  line-height: 5px;
  padding: 50px 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 45px;
  font-weight: bold;

  pre {
    color: #333;
  }
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
  animation: heartbeat 10s infinite;
  margin: 0 auto;
}

#heart:before,
#heart:after {
  position: absolute;
  content: '';
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #eb3323;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.75);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(0.75);
  }
}

div.content {
  display: inline-block;
  float: none;
  padding: 20px;
  border-radius: 10px;
}

pre {
  background: #ccc;
  padding: 3px;
  font-size: 13px;
  border-radius: 5px;
  display: inline;
}

.footer {
  background: #20232a;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 30px;
  text-align: center;
  bottom: 0px;
  color: #aaa;
  font-size: 12px;

  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
}